@font-face {
   font-family: 'ABCGintoNord-Regular-Trial';
   font-display: swap;
   src: url('file:///E:/Users/Usuario/Desktop/ARITZ1/Websites/Mobirise-Website/fonts/ABCGintoNord-Regular-Trial/font.woff');
}
