@import "tailwindcss";

:root {
  --t-space: 3;

  --t-link-color: #ffa500;
  --t-link-hover-color: #e70;
}

@layer base {
  body {
    @apply text-lg;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  div#main-content {
    @apply mt-3 mb-auto;
  }
  footer {
    @apply mb-3;
  }
  li::before {
    @apply inline-block content-["~"] text-2xl/1 mr-3;
  }
}

@layer components {
  .card {
    @apply p-3 mt-3 shadow-lg;
  }
  .card-alt {
    @apply bg-yellow-900 px-2 py-3 my-0;
  }
}

body::before {
  @apply fixed inset-0 -z-1 content-[""] bg-cover bg-[url('/src/images/bg-1920x1080.webp')] opacity-75;
}

a {
  color: var(--t-link-color);
  text-decoration: underline;
  text-underline-offset: --spacing(0.5);
}
#tag {
  @apply px-2 py-1 rounded-md bg-indigo-900/35 backdrop-blur;
}
:not(#main-menu) > a:hover {
  /*color: var(--t-link-hover-color);*/
  /*background-color: #ffff0055;*/
  text-shadow: 0 0 10px orange;
}
:not(.navlinks) > a:not(.nh)::before {
  content: "[";
}
:not(.navlinks) > a:not(.nh)::after {
  content: "]";
}
nav a[aria-current="page"] {
  @apply no-underline font-bold;
}
nav a:not([aria-current="page"]) {
  @apply text-white underline underline-offset-2;
}
::-webkit-scrollbar {
  width: --spacing(4);
}
::-webkit-scrollbar-track {
  background: #a73d01;
}
::-webkit-scrollbar-thumb {
  background: #d17123;
}
::-webkit-scrollbar-thumb:hover {
  background: #df8028;
}
/*
details[open] summary {
  border-bottom: 2px solid #888;
  background-color: #555;
  transition: var(--transition);
  outline-offset: -2px;
}/*
details[open] pre {
    margin-top: --spacing(2);
}*/
/*
details:not([disabled]):not([open]):hover {
  background-color: #444;
  transition: var(--transition);
}

details:not([disabled])[open]:hover summary {
  background-color: #444;
  outline: 2px solid #444;
}

details:not([disabled])[open]:hover pre {
  background-color: #222;
}

details:not([disabled])[open]:hover {
  background-color: #333;
}
  */
