@import "tailwindcss";

@layer base {
    body {
        padding-left: --spacing(3);
        padding-right: --spacing(3);
    }
    h1 {
        font-size: var(--text-2xl);
    }
    h2 {
        font-size: var(--text-xl);
    }
}

@layer components {
    .card {
        background-color: var(--color-yellow-800);
        border-radius: var(--radius-lg);
        padding: --spacing(3);
        margin-top: --spacing(3);
        margin-bottom: --spacing(3);
        box-shadow: var(--shadow-lg);
    }
    .card-alt {
        background-color: var(--color-yellow-900);
        padding: --spacing(2) --spacing(3);
        margin-top: --spacing(1);
        margin-bottom: --spacing(1);
    }
    .card-link {
        padding: --spacing(1);
    }  
}

a[aria-current="page"] {
    color: orange;
}