---
import Layout from '../../layouts/Layout.astro';
import MainHeader from '../../components/layout/headers/MainHeader.astro';
import MegathreadHeader from '../../components/layout/headers/MegathreadHeader.astro';
import Footer from '../../components/layout/Footer.astro';

import Dropdown from '../../components/ui/Dropdown.astro';
---

<Layout>
	<MainHeader />
	<MegathreadHeader />
	
	<div class="mb-auto" id="main-content">
		<h1>counter-strike 2</h1>
		<Dropdown title="mods/configs">
* <a href="https://github.com/xPaw/CS2" aria-label="counter-strike 2 practice config">CS2 PRACTICE CONFIG</a>
		</Dropdown>


		<Dropdown title="practica">
* <a href="https://yprac.com" aria-label="yprac counter-strike 2 practice tool">YPRAC</a> --> MAPAS WORKSHOP | CLIENTE
* <a href="https://cslabez.com/alternative-cs2-aim-botz-map" aria-label="counter-strike 2 aim bots practice map">CSLAB AIM BOTZ (cs2_aim)</a> (!)
* <a href="https://refrag.gg" aria-label="refrag counter-strike 2 practice servers">REFRAG</a>
* <a href="https://faceit.com" aria-label="faceit third-party competitive servers for counter-strike 2">FACEIT</a>
* ESL CS | <a href="https://youtu.be/BtbNz-k9GX4" aria-label="youtube link">MEJORES MAPAS</a>
		</Dropdown>


		<Dropdown title="videos">
* ZNORUX | <a href="https://youtu.be/VNmr8TOZrtA" aria-label="youtube link">COSAS QUE DEBES SABER</a>
* ZNORUX | <a href="https://youtu.be/LNCHSiUFPaU" aria-label="youtube link">GUIA DE OPTIMIZACION</a>
* ZNORUX | <a href="https://youtu.be/SgSB1MACAtM" aria-label="youtube link">GUIA DE OPTIMIZACION BETA</a>
		</Dropdown>


		<Dropdown title="otros">
* <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3031823818" aria-label="counter-strike knife commands">COMANDOS DE CUCHILLOS</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>aim</h1>


		<Dropdown title="voltaic regular">
		<strong>Aimlabs</strong>
* <a href="https://bit.ly/VTxALvalorant" aria-label="voltaic aimlabs scenarios for valorant">VALORANT/CS</a>
* <a href="https://bit.ly/ValMicroGuide">VALORANT Micros</a> + <a href="https://bit.ly/ValorantAntiStrafe">Anti-Strafing</a>
* <a href="https://bit.ly/ValorantRamp">VALORANT RAMP Warmup</a>
* <a href="https://app.voltaic.gg">VALORANT/CS Benchmarks</a> + <a href="https://bit.ly/ValBenchmarks">benchmark guide</a>
		
		<strong>Kovaak's</strong>
* <a href="https://bit.ly/VTxKvKsvalorant">VALORANT/CS</a>
		</Dropdown>

		<Dropdown title="voltaic weakness-specific">
		<strong>Aimlabs</strong>
* <a href="https://bit.ly/StaticAL">Flicks/Static Clicking</a>
* <a href="https://bit.ly/VoltaicDynamic">Dynamic Clicking + Click Timing</a>
* <a href="https://bit.ly/PreciseVoltaic">Precise Tracking + Stability</a>
* <a href="https://bit.ly/VoltaicReactive">Reactive Tracking</a>
* <a href="https://bit.ly/VoltaicEvasive">Evasive Tracking</a>
* <a href="https://bit.ly/VoltaicSpeed">Speed Switching</a>

		<strong>Kovaak's</strong>
* <a href="https://bit.ly/VTxKvKsPrecision">Precision</a>
* <a href="https://bit.ly/VTxKvKStatic">Static</a>
* <a href="https://bit.ly/VTxKvKSpeed">Speed</a>
* <a href="https://bit.ly/VTxKvKReactivity">Reactivity</a>
		</Dropdown>


		<Dropdown title="voltaic misc.">
		<strong>Aimlabs</strong>
* <a href="https://docs.google.com/document/d/1g4IdMzGKuVGao4hfnNhN3tPJBEhLNvP_5DqthGEkjxg/edit">Voltaic Daily Improvement Method S3</a>
* <a href="https://docs.google.com/document/d/1XGqfG1JQXqzuRNR7AGAXI7nxIbrm81BXS03zG1RTbIw/edit">VALORANT RAMP Warmup</a>
		
		<strong>Kovaak's</strong>
* <a href="https://docs.google.com/document/d/1R4IyJqYmprRauaACt6bah7YzOOVuG6GqXlB03clNHeU/edit">Voltaic Daily Improvement Method S5</a>
		</Dropdown>


		<Dropdown title="videos">
		<strong>Kovaak's</strong>
* Viscose | <a href="https://youtu.be/cjKFoXQ4Dc0">The most underrated aiming skill in VALORANT</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>computers: peripherals</h1>
		<Dropdown title="pendrives">
* <a href="https://amazon.es/dp/B07D1KF73V">samsung bar plus titan 256gb</a>
		- 300mb/s

* <a href="https://amazon.es/dp/B0CLBPH2Q9">sandisk ultra dual luxe 256gb</a>
		- doble conector (usb-a/usb-c) - 400mb/s
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>computers: random</h1>


		<Dropdown title="windows 7">
* github | <a href="https://github.com/rileyclos/ModernOldWin">ModernOldWin</a>
* <a href="https://board.eclipse.cx/viewforum.php?f=9">Eclipse Forum</a>
* 10to7/11to7: Revert8Plus <a href="https://teknixstuff.com/Libraries/Projects/Revert8Plus">homepage</a> <a href="https://github.com/teknixstuff/revert8plus/releases">github</a>
* <a href="https://board.eclipse.cx/viewtopic.php?t=867">steam win7</a>
		</Dropdown>
		<!--

		<Dropdown title="regfiles">
* <a href="files/"></a>
		</Dropdown>
		-->

		<Dropdown title="software ">
* <a href="https://archive.org/details/windows-movie-maker">windows movie maker</a>
		</Dropdown>


		<Dropdown title="misc.">
* github | <a href="https://github.com/trimstray/the-book-of-secret-knowledge">The Book of Secret Knowledge</a>
* <a href="https://voltcave.com/how-to-clean-mousepad">how to clean mousepad</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>windows downloads</h1>


		<Dropdown title="stock/original">
		<span title="Original official Windows versions, filled with bloatware.&#010If you want to use this, make sure to install with 'English (World)' as region.&#010Preferably, use LTSC.">(WINDOWS 10+: DO NOT USE)</span>
		<strong>Original downloads (may use unofficial sources: massgrave)</strong>
* <a href="https://massgrave.dev/windows_11_links">windows 11</a>
* <a href="https://massgrave.dev/windows_10_links">windows 10</a>
* <a href="https://massgrave.dev/windows_arm_links">windows 11+ arm</a>
* <a href="https://massgrave.dev/windows_8.1_links">windows 8.1</a>
* <a href="https://massgrave.dev/windows_7_links">windows 7</a>
* <a href="https://massgrave.dev/windows_vista__links">windows vista</a>
* <a href="https://massgrave.dev/windows_xp_links">windows xp</a>
* <a href="https://massgrave.dev/windows-server-links">windows server</a>

		<strong>Other downloads:</strong>
* <a href="https://uupdump.net">uupdump</a> (massgrave)
		</Dropdown>


		<Dropdown title="stock ltsc (recommended)">
* <a href="https://massgrave.dev/windows_ltsc_links">download</a> (massgrave)
		</Dropdown>


		<Dropdown title="x-lite">
* <a href="https://windowsxlite.com/win10">WINDOWS 10</a>
* <a href="https://windowsxlite.com/win11">WINDOWS 11</a>
		</Dropdown>


		<Dropdown title="ghost spectre">
* <a href="https://ghostclouds.win/wp/g-w10-ltsc-1809-x64">W10 LTSC 1809</a> (ACT 01/2023)
* <a href="https://ghostclouds.win/wp/g-w10-aio-x64">W10 PRO 20H1-22H2 AIO</a> (ACT 09/2025) | PASS: aiou(numero update)
* <a href="https://ghostclouds.win/wp/g-w11-p-24h2-x64">W11 PRO 24H2</a> (ACT 09/2025) | PASS: 24h2
		</Dropdown>


		<Dropdown title="kirbyOS">
		<span title="Not well optimized, you can achieve even more with a regular Windows install.&#010Use Windows LTSC.">(not recommended)</span>
* <a href="https://discord.gg/KirbyCS">kirbyOS</a> (discord)
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>linux</h1>


		<Dropdown title="distros - gaming">
* <a href="https://bazzite.gg">Bazzite</a> - IMMUTABLE - mejor para gaming
* <a href="https://nobaraproject.org">Nobara</a> - bueno para gaming
* <a href="https://system76.com/pop">Pop!_OS</a> - buen power management / gaming
		</Dropdown>


		<Dropdown title="audio">
* DAW - <a href="https://bitwig.com">bitwig studio</a>
		</Dropdown>


		<Dropdown title="cracks">
* crack - <a href="https://old.reddit.com/1nfqhld">Davinci Resolve 20.2</a>
* bazzite - <a href="https://old.reddit.com/1i4dou5">install rpm packages</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>liberar/iOS/hackintosh</h1>
		<Dropdown title="general/misc.">
* <a href="https://cfw.guide">cfw.guide</a>
		</Dropdown>


		<Dropdown title="apple">
* <span title="Unofficial website, but uses Apple servers.">Apple Software Download</span> <a href="https://ipsw.me">stable</a> <a href="https://ipsw.dev">dev/betas</a>
* <a href="https://theapplewiki.com/wiki/Main_Page">The Apple Wiki</a>
* <a href="https://ios.cfw.guide">iOS cfw.guide</a>
* <a href="https://dortania.github.io/OpenCore-Install-Guide">Dortania's OpenCore Guide</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>hackintosh builds</h1>
		<Dropdown title="amazon">
* build #1
		-> caja: <a href="https://amazon.es/dp/B0BBR6Z256">mars gaming mc-s1</a> <strong>28,39€</strong>
		-> placa base: <a href="https://amazon.es/dp/B08YRD7VS7">gigabyte h410m s2h v2</a> <strong>68,89€</strong>
		-> cpu: <a href="https://amazon.es/dp/B0883NPQST">intel core i5-10400</a> <strong>146,19€</strong>
		-> fuente de alimentacion: <a href="https://amazon.es/dp/B0100QRRTK">evga 600 w1</a> <strong>53,99€</strong>
		-> ssd: <a href="https://amazon.es/dp/B082BJ4679">patriot p300 nvme</a> (500gb) <strong>35,99€</strong>
		-> ram: <a href="https://amazon.es/dp/B097HNYMYR">kingston fury beast 16gb</a> (2x8) <strong>65,15€</strong>

		-> total: <strong>398,60€</strong>
		</Dropdown>


		<Dropdown title="ebay">
* FUJITSU P420
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>archives</h1>
		<Dropdown title="software">
* <a href="https://www.techspot.com/downloads/downloadnow/3157/?evp=f65d6e41e55270d0c9b1c360b6647ef6&file=10317">MSI Center 1.0.38</a> - para instalar Mystic Light
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>piracy</h1>
		<Dropdown title="general">
* REDDIT   | <a href="https://old.reddit.com/r/Piracy/wiki/megathread">r/Piracy megathread</a>

* activate windows: <code>irm https://get.activated.win | iex</code>
		</Dropdown>


		<Dropdown title="games">
* REDDIT   | <a href="https://old.reddit.com/r/Piracy/wiki/megathread/games">r/Piracy megathread - games</a>
* RENTRY   | <a href="https://rentry.org/pgames">r/PiratedGames megathread</a>
* LAUNCHER | <a href="https://ascendara.app">ascendara</a> - pirate game launcher (source: steamrip)
* WEBDL    | <a href="https://cs.rin.ru/Forum">cs.rin.ru (forum)</a>
* WEBDL    | <a href="https://steamrip.com">steamrip</a> - steam preinstalled games
* WEBDL    | <a href="https://fitgirl-repacks.site">fitgirl repacks</a> - repacks (+torrentDL)
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>networking</h1>
		<Dropdown title="ethernet cables/rj45">
* <a href="media/rj45-wiring.webp"></a>
* <a href="https://www.cablify.ca/speeds-of-cat5e-cat6-cat6a-cat7-and-cat8-cables-compared/">cat5e -> cat8 speeds</a>
* <a href="https://www.cablify.ca/speeds-of-cat5e-cat6-cat6a-cat7-and-cat8-cables-compared/">cat3 -> cat8 speeds + history lesson (/j)</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>anime</h1>


		<Dropdown title="sites">
* ANIME WIKI | <a href="https://thewiki.moe">thewiki.moe</a>
* REDDIT     | <a href="https://reddit.com/r/animepiracy">anime piracy</a>
* <span title="Torrent">TRR.</span> INDEX | <a href="https://nyaa.si">nyaa.si</a>
* ONLINE     | <a href="https://kaido.to">kaido.to</a>
* ONLINE     | <a href="https://aniwave.uno">aniwave.uno</a>
* ONLINE     | <a href="https://animeflash.xyz">animeflash</a>
		</Dropdown>


		<Dropdown title="watchlist">
		x akame ga kill (2025-08-24)
		x chainsaw man (2025-10-28)
		- ^^^ COMPLETED
		- TO WATCH IN ORDER vvv
		- ------------
* shingeki no kyojin
* jujutsu kaisen
* kimetsu no yaiba
* boku no hero academia
		- ------------
* ao no hako
* komi-san wa komyushou desu
* kaminaki sekai no kamisama katsudou
* gachiakuta
* haikyu
* bungo stray dogs
* death note
* horimiya
* one piece
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>canciones/musica (cantar, ...)</h1>
		<Dropdown title="chester screams">
* <a href="https://youtu.be/o6QoeBmq9zY">CUERDAS FALSAS I</a>
* Aliki Katriou | <a href="https://youtube.com/playlist?list=PL8m-70OS1mLps4HEovI5xFr8lVpCJ1I0c">SCREAM TECHNIQUE PLAYLIST</a>
* BlackGuyScreams | <a href="https://youtu.be/a3wlbz-j44A">FRY SCREAM TUTORIAL</a>
* Chris Liepe | <a href="https://youtu.be/sBP0t8OCUvc">3 TYPES OF SCREAMS AND HOW TO PRACTICE THEM</a>

* NO RECOM.: <a href="https://youtu.be/6HxJrXhQoBA">FRY SCREAM (APRENDER PRIMERO)</a>
* NO RECOM.: <a href="https://youtu.be/alqjdntalLM">YELL SCREAM (REQ. FRY SCREAM)</a>
		</Dropdown>

		<Dropdown title="multitracks">
* TODO
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>gear</h1>


		<Dropdown title="interfaces de audio">
* <a href="https://amzn.eu/d/1lnjG2J">BEHRINGER UMC22</a>
		bundle interfaz + cable XLR
		interfaz económica, puerto multi mic+línea y puerto instrumento (jack 1/4")
		</Dropdown>


		<Dropdown title="guitarras">
		<strong>"principiante"/económicas:</strong>
* <a href="https://amzn.eu/d/apGddfz">bullfighter</a>
		RECOMENDADA: pickups HSS + no se desafina incluso con whammy bar

		<strong>avanzadas/caras:</strong>
* <a href="https://eu.prsguitars.com/electrics/model/se_custom_24_2025">PRS SE Custom 24</a>
		guitarra usada por Linkin Park (live? studio?)
		</Dropdown>


		<Dropdown title="ukeleles">
* <a href="https://amzn.eu/d/b2NqpQV">Mad About SU8 (variant: pink)</a>
		buen ukelele para principiantes
		</Dropdown>


		<Dropdown title="cascos">
* <a href="https://amzn.eu/d/4qVMuEo">audio-technica ATH-M20X</a>
		termina en mini jack (incl. adaptador jack 1/4")
		</Dropdown>


		<Dropdown title="micrófonos">
* <a href="https://www.thomann.de/intl/the_t.bone_mb_78_beta_bundle.htm">the t.bone MB 78 Beta</a>
		clon de Shure Beta 87, buena calidad, CUIDADO con handling noise

* <a href="https://amzn.eu/d/aSGxubO">Shure SM58 (LC)</a>
		buen micrófono dinámico, aunque más apto para live performance
		</Dropdown>


		<Dropdown title="cables XLR">
* <a href="https://audiopile.net/PSMN">EWI PSMN</a>
		cable premium, puntas Neutrik para mejor 'reliability'

* <a href="https://thomann.de/intl/the_sssnake_sm10_bk.htm">the sssnake SM10BK</a>
		cable económico, 10m, sin puntas Neutrik pero muy buena calidad
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>magia</h1>


		<Dropdown title="random">
* <a href="https://youtube.com/shorts/LUGPWdhDEBM">TRANSFERIR GOMA DESDE LA MANO</a>
		</Dropdown>


		<Dropdown title="cartas">
* <a href="https://youtu.be/ZrYP9m3MpAU">PREDICCION CARTA</a>
* <a href="https://youtu.be/QXcFMjKy4sk">TRANSFERENCIA PREDICCION CARTA 2</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>utilidad</h1>


		<Dropdown title="parenting">
* <a href="https://offline.kids/activities/">offline kids - actividades</a>
		actividades para edades 2-10, sin pantallas
		</Dropdown>


		<Dropdown title="educacion sexual">
* <a href="https://scarleteen.con">scarleteen</a>
* <a href="https://plannedparenthood.org/learn">planned parenthood</a>
* <a href="https://bedsider.org">bedsider</a>
* <a href="https://goaskalice.columbia.edu/">go ask alice</a>
* <a href="https://iwannaknow.org">iwannaknow</a>
		</Dropdown>
		<!-- #endregion -->
		
		<!-- #region -->
		<h1>seguridad (NO CIBERSEGURIDAD)</h1>


		<Dropdown title="extintores">
* <a href="https://youtu.be/uPF7CMGFTNQ">tipos de extintores</a>
		</Dropdown>
		<!-- #endregion -->

		<!-- #region -->
		<h1>libros</h1>


		<Dropdown title="magia">
* Vicente Canuto | Cartomagia Fundamental <a href="https://en.z-library.sk/dl/27957597/e2881a">.pdf</a>, <a href="https://en.z-library.sk/dl/11091569/35d67d">.epub</a>
		</Dropdown>
		<!-- #endregion -->
	</div>
	<Footer />
</Layout>
