---
import Layout from '../../layouts/Layout.astro';
import MainHeader from '../../components/layout/headers/MainHeader.astro';
import MegathreadHeader from '../../components/layout/headers/MegathreadHeader.astro';
import Footer from '../../components/layout/Footer.astro';
---

<Layout>
	<MainHeader slot="headers" />
	<MegathreadHeader slot="headers" />

  <h1><strong>*** TBD  ***</strong></h1>

	<Footer slot="footer" />
</Layout>
