---
import Social from './Social.astro';
---
<div id="footer">
    <footer class="backdrop-blur-md flex flex-wrap justify-center card gap-4 mt-4 bg-black/35 [&,&>*]:rounded-md">
        <Social platformName="github" platformURL="github.com" username="eltrevii" />
        <Social platformName="youtube" platformURL="youtube.com" username="@trevics_" />
    </footer>
</div>