---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import MainHeader from "../../components/layout/headers/MainHeader.astro";
import BlogHeader from "../../components/layout/headers/BlogHeader.astro";
import Footer from "../../components/layout/Footer.astro";
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
---
<Layout>
    <MainHeader slot="headers" />
    <BlogHeader slot="headers" />
    <h1>tags</h1>
    <div class="mb-3 flex flex-wrap gap-3">
        {tags.map((tag) => (
            <p id="tag"><a class="nh" href={`/tags/${tag}/`}>#{tag}</a></p>
        ))}
    </div>
    <Footer slot="footer" />
</Layout>