---

---
<div id="header">
    <header class="bg-black/35 backdrop-blur-md rounded-md items-center" aria-label="website header">
        <nav class="flex items-start flex-wrap card title gap-3 justify-between" aria-label="navigation bar">
            <div class="flex gap-4 items-center self-center">
                <slot name="nav-left" />
            </div>
            <div class="flex gap-4 items-center self-center">
                <slot name="nav-center" />
            </div>
            <div class="flex gap-4 items-center self-center">
                <slot name="nav-right" />
            </div>
        </nav>
    </header>
</div>