---
import { cva, type VariantProps } from "class-variance-authority";

const skeuonav = cva(["bg-linear-to-b"], {
    variants: {
        color: {
            normal: ["from-gray-500 to-black"],
            dim: ["from-gray-800 to-black"]
        },
    },
    defaultVariants: {
        color: "normal",
    },
});

export interface Props extends VariantProps<typeof skeuonav> {}

const {
    class: className,
    color = "normal",
    stripe = "striped",
} = Astro.props;
---
<div id="header">
    <header class={`bg-linear-to-b ${skeuonav({ color, stripe: "empty", className })} [&,&>*]:rounded-md items-center`} aria-label="website header">
        <nav class={`${stripe} flex items-start flex-wrap card title gap-3 justify-between`} aria-label="navigation bar">
            <div class="flex gap-4 items-center self-center">
                <slot name="nav-left" />
            </div>
            <div class="flex gap-4 items-center self-center">
                <slot name="nav-center" />
            </div>
            <div class="flex gap-4 items-center self-center">
                <slot name="nav-right" />
            </div>
        </nav>
    </header>
</div>