---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout>
	<Header />
	<div class="mb-auto">
		<h1>hello world</h1>
		<p>im trevi</p>
	</div>
	<Footer />
</Layout>
