---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout>
	<Header />
	<h1 class="title">hello world</h1>
	<p>this is a test</p>
	<Footer />
</Layout>
