---
import Layout from '../layouts/Layout.astro';
import MainHeader from '../components/layout/headers/MainHeader.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout>
	<MainHeader />
	<div class="mb-auto" id="main-content">
		<h1>hello world</h1>
		<p>im trevi</p>
	</div>
	<Footer />
</Layout>
