---
import Navigation from './Navigation2.astro';
---
<div id="header">
    <header class="bg-black/35 rounded-md items-center" aria-label="website header">
        <nav class="flex items-start flex-wrap card title gap-3 justify-between box-content" aria-label="navigation bar">
            <Navigation />
        </nav>
    </header>
</div>